/* *{
    


  font-family: "Open Sans", sans-serif;
 

} */
body{
    background-color: rgb(247,249,252);
    
}
.logo {
    width: 305px;
   
}
.logo img{ 
    width: 288px;
}
.navbar {
    width: 723px;
    
    margin-left:1180px;
    
    font-size: 20px;
    
    margin-top: -40px;
    
    
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 10px;
    
}

.navbar select{
    border: none;
    background-color: rgb(247,249,252);
    font-size: 17px;
}

.navbar span a{
    width: 150px;
    
    padding: 12px;
    border: 1px solid rgb(51,92,214);
    text-align: center;
    border-radius: 10px;
   
    
    
    
}
.navbar span a{
    text-decoration: none;
    color: rgb(51,92,214);
    font-size: 20px;
} 



.name{
    margin-top: 200px;
    width: 300px;
    
    
    background-color: rgb(242,246,254);
    border-radius: 8px;
    
}
.name h2{
    color: rgb(81, 112, 197);
    font-size: 30px;
}

.title{
    margin-top: 50px;
    width: 550px;
    font-weight: 400px;
    font-size: 30px;
    
    
}

.pragraph{
    width: 520px;
    
    
}
.pragraph p{
    color: rgb(105,117,130);
    font-size: 22px;
}

.heroimage{
    margin-left: 710px;
    margin-top: -450px;
}

.workbtn{
    background-color: rgb(51,92,214);
    margin-top: -80px;
    width: 100px;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
}
.workbtn a{
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: 700;
}
.seebtn{
    background-color: rgb(247,249,252);
    margin-left: 200px;
    margin-top: -53px;
    width: 150px;
    padding: 12px 40px 15px 40px;
    border-radius: 10px;
    border: 1px solid rgb(51,92,214) ;
    color:rgb(51,92,214); 

}

.seebtn a{
    text-decoration: none;
    color: rgb(51,92,214);
    font-size: 20px;
    font-weight: 700;

}
.ftr{
    width: 500px;
    margin-top: 70px;
    margin-left: 1200px;
    font-size: 20px;
    color: rgb(105,117,130);
}
.ftr a{
    color: black;
}

